@model IEnumerable<ControlCalidadProduccion.Models.Producto>

@{
    ViewData["Title"] = "Productos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Producto</a>
</p>
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NormaGrasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NormaAcidez)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NormaProteina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NormaPH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NormaHumedad)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormaGrasa)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormaAcidez)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormaProteina)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormaPH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormaHumedad)%
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>