@model ControlCalidadProduccion.Models.Medicion

@{
    ViewData["Title"] = "Confirmar eliminación";
}

<h1>@ViewData["Title"]</h1>

<h3>¿Está seguro que desea eliminar esta medición?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FechaMedicion)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.FechaMedicion)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.NumeroMedicion)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.NumeroMedicion)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Lote.Codigo)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Lote.Codigo)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Producto.Nombre)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Producto.Nombre)</dd>
    </dl>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
