@model ControlCalidadProduccion.Models.Medicion

@{
    ViewData["Title"] = "Detalle de Medición";
}

<h1>@ViewData["Title"]</h1>

<div class="card">
    <div class="card-header">
        Información de la Medición
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.FechaMedicion)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.FechaMedicion)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.NumeroMedicion)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.NumeroMedicion)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Grasa)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.Grasa) %</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Acidez)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.Acidez) %</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Proteina)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.Proteina) %</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.PH)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.PH)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Humedad)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.Humedad) %</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Lote)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.Lote.Codigo)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Producto)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.Producto.Nombre)</dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
    </div>
</div>
